*{
padding: 0;
box-sizing: border-box;
}

/* Header 1 */

body {
    background-color: #7FDBFF;
 /* colores alternativos #87CEEB, */
}

nav.main-nav {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.logosolo img {
  width:70%;
}

.titulotabs {
  width: 100%;
  margin: 0 auto;
}

.titulo {

  background-color: #0074D9;
  /* colores alternativos #40E0D0, */
  /* padding-left: 40%;   */
  margin: 0 auto;
}

.titulo h1 a {

  font-weight:bold;
  color: black;
text-decoration: none;

}
.tabs ul.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  padding-left: 80px;
}

.tabs ul li {
  width:18%;
}

header{
background-color: #39CCCC;
  /* colores alternativos #008B8B , */

}

h1 {
font-size: 50px;
font-style: normal;
font-family: monospace;
text-align: center;
font-weight: bolder;
/* margin-left: 585px; */
color: #000000;
}



h2 {

}


.uk-margin {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.uk-search-default .uk-search-icon {
top: -60px;

}

/* Fin Header 1 */

/* Main */


/* parte de arriba */


.detalle-texto {
margin-left: 10%;
margin-top: 7%;

}


.poster img {
  width: 100%;
}

div.contenedor1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;

}

/* fin parte de arriba */

/* diseno detalles */

.detalle-texto {

display: flex;
flex-direction: column;
flex-wrap: wrap;
font-style: normal;
font-family: monospace;
font-size: 25px;
color: black;
font-weight: bold;

}
a h1{
  opacity: 0;
}
a:hover h1{
  opacity: 1;
  transition-duration: 0.6s;
}

/* fin diseno detalles */



/* trailer */

.trailer {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

iframe {
  margin-bottom: 20px;
}



/* FIN de trailer */
/* ver recomendaciones */
div.contenedor2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

div.poster {
margin-bottom: 5%;
margin-top: 50px;
margin-right: 100px;
width: 30%;;
}

div.trailer{
text-align: center;
margin-bottom: 5%;
margin-top: 5%;
}

div.trailer h2 {
text-align: center;


}

/* termina ver recomendaciones */

/* Footer */
footer img{
width: 5%;
align-content: center;


}
.footer h3 {
text-align: center;
align-content: center;
}

.logoTMDB {
text-align: center;
}

/* Fin Footer */


/* ======================
STYLE HERNI
====================== */

.combo-texto {
  display:flex
}

.combo-texto > * {
  margin: 0
}

.combo-texto h3 {
  margin-right: 10px
}
