*{
padding: 0;
box-sizing: border-box;}

/* Header 1 */

body {
    background-color: #7FDBFF;
 /* colores alternativos #87CEEB, */
}

nav.main-nav {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.logosolo img {
  width:70%;
}

.titulotabs {
  width: 100%;
  margin: 0 auto;
}

.titulo h1 a {

  font-weight:bold;
  color: black;
text-decoration: none;

}

.titulo {

    /*background-color: #0074D9;*/
  /* colores alternativos #40E0D0, */
  /* padding-left: 40%;   */
  margin: 0 auto;
}

.titulo h1 a {

  font-weight:bold;
  color: black;
text-decoration: none;

}

.tabs ul.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  padding-left: 80px;
}

.tabs ul li {
  width:18%;
}

header{
 background-color: #39CCCC;
  /* colores alternativos #008B8B , */

}

form.formularioform{
display: flex;
flex-wrap: wrap;
flex-direction: column;
text-align: center;
width: 50%;
margin-top: 2%;
margin-left: 25%;
margin-bottom: 7%;
}

h1 {
font-size: 50px;
font-style: normal;
font-family: monospace;
text-align: center;
font-weight: bolder;
/* margin-left: 585px; */
color: #000000;
}


.estrenos{
color: white
}


.uk-margin {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.uk-search-default .uk-search-icon {
top: -60px;

}


/* Fin Header 1 */
button a {
  text-decoration: none;
}


a h1{
  opacity: 0;
}
a:hover h1{
  opacity: 1;
  transition-duration: 0.6s;
}



/* Footer */
footer img{
width: 5%;
align-content: center;


}
.footer h3 {
text-align: center;
align-content: center;
color: white;
}

.logoTMDB {
text-align: center;
}

/* Fin Footer */
