header.main-header ul {
  font-style: italic;
  font-size: 17px;
  font-family: sans-serif;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
header.main-header ul li {
  width: 13;
}


header.main-header{
  background-color: red;
}


footer ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

}

footer ul li {
  width: 50%;

}


.logo {
  width: 50px;
}

.netflixfalso {
  width: 90%;
}
