*{
padding: 0;
box-sizing: border-box;}

header.main-header ul {
  font-style: normal;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {

font-size: 50px;
font-style: normal;
font-family: monospace;
margin-left: 585px;

}

header.main-header ul li {
width: 13;
}

/* soporte para webkit. */ {
webkit-font-smoothing: antialiased;
/* Safari y Chrome. */
text-rendering: optimizeLegibility;

/*  Firefox. */
moz-osx-font-smoothing: grayscale;
}

header.main-header {
background-color: #1E90FF;
}


footer ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

}

footer ul li {
  width: 50%;

}

.logo {
  width: 50px;

}


/* prueba de SEARCH */

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: #B0E0E6;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #0091c2;
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #0091c2;
  transition: 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 1;
}

.search > div > input::-ms-placeholder {
  color: #efefef;
}

.search > div > input::-ms-input-placeholder {
  color: #efefef;
}

.search > div > input:focus,
.search > div > input:valid {
  width: 250px;
}
