*{
padding: 0;
box-sizing: border-box;}

header.main-header ul {
  font-style: normal;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header.main-header ul li {
width: 13;
}

/* soporte para webkit. */ {
webkit-font-smoothing: antialiased;
/* Safari y Chrome. */
text-rendering: optimizeLegibility;

/*  Firefox. */
moz-osx-font-smoothing: grayscale;
}

header.main-header {
background-color: #7FFFD4;
}


footer ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

}

footer ul li {
  width: 50%;

}

.logo {
  width: 50px;
}
